/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan/Spartan-Regular.ttf");
}
@font-face {
  font-family: "Spartan-bold";
  src: url("../fonts/Spartan/Spartan-Bold.ttf");
}
body {
  font-size: 15px;
  font-family: "Spartan", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* END RESET CSS */
/* Desktop section */
@media screen and (min-device-width: 376px) {
  body {
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat no-repeat;
    background-position: top 0 left 0, bottom 0 right 0;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .introduction {
    display: flex;
    flex-direction: row;
    margin-top: 8.75rem;
    margin-bottom: 2rem;
  }
  .introduction header {
    flex: 1;
  }
  .introduction header h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 6rem;
    text-align: left;
    font-family: "Spartan-bold", system-ui, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #502050;
  }
  .introduction header p {
    padding-right: 6rem;
    text-align: left;
    line-height: 1.5rem;
    color: #937b92;
  }
  .introduction div {
    padding-top: 0.5rem;
    flex: 1;
    color: #502050;
  }
  .introduction div .rating {
    width: 80%;
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 8px;
    background-color: #f7f2f7;
    text-align: center;
  }
  .introduction div .rating .rate-title {
    margin-right: 0;
    font-family: "Spartan-bold", system-ui, sans-serif;
    text-align: left;
  }
  .introduction div .rating .rates {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
  }
  .introduction div .rating .rates img {
    margin-right: 0.5rem;
  }
  .introduction div .rating:nth-child(2) {
    margin-left: 3rem;
  }
  .introduction div .rating:nth-child(3) {
    margin-left: 6rem;
  }
  .introduction div .rating:not(:last-child) {
    margin-bottom: 1rem;
  }

  .reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .reviews .review {
    padding: 2.5rem;
    border-radius: 8px;
    background-color: #502050;
    color: #f7f2f7;
  }
  .reviews .review header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 1rem;
  }
  .reviews .review .buyer-avatar {
    margin-right: 1.5rem;
  }
  .reviews .review .buyer-avatar img {
    border-radius: 50%;
    width: 3rem;
    height: 100%;
  }
  .reviews .review .buyer-name,
.reviews .review .buyer-verify {
    margin: 0;
  }
  .reviews .review .buyer-name {
    margin-bottom: 0.25rem;
    font-family: "Spartan-bold", system-ui, sans-serif;
    font-weight: bold;
  }
  .reviews .review .buyer-verify {
    color: #ee68a4;
  }
  .reviews .buyer-review {
    line-height: 1.5rem;
    margin: 0;
  }

  .review:nth-child(2) {
    margin-top: 2rem;
  }

  .review:nth-child(3) {
    margin-top: 4rem;
  }

  .review:not(:last-child) {
    margin-right: 1.5rem;
  }
}
/* Mobile section */
@media screen and (max-device-width: 375px) {
  body {
    background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat no-repeat;
    background-position: top, bottom;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .introduction {
    margin-bottom: 3rem;
  }
  .introduction header {
    margin-bottom: 1rem;
  }
  .introduction header h1 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: "Spartan-bold", system-ui, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #502050;
  }
  .introduction header p {
    text-align: center;
    line-height: 1.5rem;
    color: #937b92;
  }
  .introduction div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #502050;
  }
  .introduction div .rating {
    width: 100%;
    border-radius: 8px;
    background-color: #f7f2f7;
    text-align: center;
  }
  .introduction div .rating .rate-title {
    margin-top: 0;
    font-family: "Spartan-bold", system-ui, sans-serif;
    font-weight: bold;
  }
  .introduction div .rating .rates {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
  }
  .introduction div .rating .rates img {
    margin-right: 0.5rem;
  }
  .introduction div .rating:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .reviews .review {
    padding: 2.5rem;
    border-radius: 8px;
    background-color: #502050;
    color: #f7f2f7;
  }
  .reviews .review header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 1rem;
  }
  .reviews .review .buyer-avatar {
    margin-right: 1.5rem;
  }
  .reviews .review .buyer-avatar img {
    border-radius: 50%;
    width: 3rem;
    height: 100%;
  }
  .reviews .review .buyer-name,
.reviews .review .buyer-verify {
    margin: 0;
  }
  .reviews .review .buyer-name {
    margin-bottom: 0.25rem;
    font-family: "Spartan-bold", system-ui, sans-serif;
    font-weight: bold;
  }
  .reviews .review .buyer-verify {
    color: #ee68a4;
  }
  .reviews .buyer-review {
    line-height: 1.5rem;
    margin: 0;
  }

  .review:not(:last-child) {
    margin-bottom: 1rem;
  }
}
footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=index.css.map */
